
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <a href="{{ home_url }}" class="jw-link" title="Jeff Wilkerson - HTML, Javascript, CSS">
                        <div class="media">
                            <div class="media-left">
                                <img src="{{ url('theme://images/jw-red-icon-small.png') }}" alt="Portlan Web Developer Jeff Wilkerson">
                            </div>
                            <div class="media-body">
                                <div class="media-heading">
                                    Jeff Wilkerson<br/>
                                    &copy; 2017
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6">
                    

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ page.find('/connect').url }}">Connect with Me</a></li>
                        <li><a href="#top">Back to Top</a></li>
                    </ul>
                </div>

            </div>

                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <p>This site built with <a href="http://www.getgrav.org/" target="_blank" class="red-text">Grav CMS</a>!<br/>
                            See the <a href="{{ site.social.github.url }}jw-grav" class="red-text" target="_blank">source code for this website</a>.
                            </p>
                        </div>
                    </div>
        </div>
    </footer>