
    <header class="site-header">
        {% include "partials/navigation-default.html.twig" %}

        <div class="page-title-container">
            <h2 class="page-title">{{ page.title }} </h2>
        </div>
    </header>