<div class='jw-icon img-circle '>
	<object class='svg'>
		<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"
		 preserveAspectRatio="xMidYMid meet">
		<metadata>
		Created by potrace 1.13, written by Peter Selinger 2001-2015
		</metadata>
		<g transform="translate(0.000000,300) scale(0.100000,-0.100000)"
		fill="#d80033" stroke="none">
		<path d="M740 1671 c0 -381 -3 -568 -11 -584 -19 -43 -65 -61 -156 -61 l-83
		-1 0 -101 c0 -118 -4 -114 103 -114 147 0 276 37 340 98 41 38 74 109 87 183
		7 42 10 247 8 599 l-3 535 -142 3 -143 3 0 -560z"></path>
		<path d="M1147 2223 c-2 -6 179 -1330 193 -1400 0 -2 88 -3 195 -3 179 0 195
		1 195 18 0 34 90 695 95 700 3 3 5 -8 5 -24 0 -30 76 -632 85 -671 5 -23 7
		-23 190 -23 183 0 185 0 190 22 2 13 45 318 95 678 50 360 93 667 96 683 l6
		27 -125 0 c-113 0 -125 -2 -129 -18 -3 -10 -34 -249 -69 -530 -35 -282 -66
		-512 -69 -512 -3 0 -34 235 -69 523 -35 287 -65 525 -68 530 -7 12 -273 9
		-273 -3 0 -6 -27 -239 -59 -518 -33 -279 -61 -523 -63 -542 -2 -19 -34 201
		-72 490 -37 289 -70 537 -73 553 l-5 27 -134 0 c-73 0 -135 -3 -137 -7z"></path>
		</g>
		</svg>
	</object>
</div>