.about-page {
	.img-responsive {
		width: 100%;
	}
}

.about-container {
	.section-title {
		text-align: left;
		font-size: 2.5em;
		margin-bottom: 0px;
	}
	blockquote {
		text-align: center;
		font-size: 1.5em;
	}
	#_many-faces {
		
		.carousel	{
			.carousel-inner {
			}
			.caroursel-item {
				xwidth: 80%;
				margin: 0 auto;
				.slide-title {
					display: none;
				}
				img {
					border-radius: 50%;
					@media (max-width: $screen-md) {
						max-width: 300px;
					}
				}
			}
		}
	}
}	
.additional-about {
	.toggle-content {
		margin-bottom: 10px;
	}
	@media (max-width: $screen-md) {
		.yoga-img {
			max-width: 75%;
			margin: 20px auto;

		}
	}
	.suzygram-list {
		@media (max-width: $screen-md) {
			img{
				max-width: 300px;
			}
		}
	}
}
#suzygramModal {
	.modal-dialog {
		margin-top: 80px;
	}
	button.close {
		color: $black;
		opacity: .5;
	}
	.modal-body img {
		max-height: 60vh;
	}
}
