.project-spotlight {
	.title-heading {
		text-align: left;
		color: $navy;
	}
	&:not(:last-child) {
		border-bottom: 2px solid $black;
	}
}

.project-list {

	.project-title {
		margin: 10px;
		color: $navy;
		strong {
			font-size: 60%;
			display: block;
			font-weight: bold;
		}
	}
	.project-link {
		text-align: center;
		border: 2px solid $navy;
		display: block;
		&:hover {
			border-color: $red;
			text-decoration: none;
			.project-title {
				color: $red;
			}
		}
	}

	@media (max-width: $screen-md) {
		s.project-thumbnail {
			display: flex;
		}
	}
	@media (min-width: $screen-sm) {

		.project-col {
			display: flex;
			flex-direction: 1;
			.project-title {

				font-size: 1.8rem;
			}
			.project-link {
				flex: 1;
			}
		}
	}
}

.project-summary {
	margin-bottom: 20px;
	.section-title {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	p {
		margin-bottom: 20px;
	}
	strong {
		color: $red;
	}

	@media (min-width: $screen-sm) {
		p strong {
			display: block;
		}
	}

}
.project-thumbnail-row {
	> div {
		margin-bottom: 15px;
	}
	.caption {
		display: none;
	}
}

.other-project {

	background-color: #fff;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	max-width: 900px;
	margin: 0 auto 20px;
	padding: 10px;
	.container {
		width: auto;
		max-width: 100%;
		color: #0f0f0f;
		a {
			color: $red;
		}
	}

}