
.sidebar-layout {

	.content-col-inner {
		padding-top: 15px;
		padding-bottom: 0;
	}	
	.section-title {
		text-align: left;
		font-weight: 300
	}
	hr {
		background-color: $gray-blue2;
		border-color: $gray-blue2;
	}
	a:hover {
		color: $red;
	}
}