{% extends 'partials/base.html.twig' %}

{% block header %}

    {% include "partials/header.html.twig" %}

{% endblock %}

{% block pageContent %}

	<section>
		<div class="container">
			<div class="post-form-container">
				{% set field = form.fields['fullname']['name'] %}
				{% set value = form.value(field) %}
					{{ dump(value) }}
				<p class="text-center"><img src="{{ url('theme://images/green-check.png') }}"></p>
				<p class="lead text-center">Thanks for the feedback, {{ value }}!!</p>
				<p class="text-center"><a href="{{ url('theme://assets/JeffWilkerson-FrontEndDeveloper.pdf') }}" class="btn btn-primary">Download Current Resume</a></p>
			</div>
		</div>
	</section>

	<section class="blue-bg">
		<div class="container">
			{% include "modular/social.html.twig" %}
		</div>
	</section>


{% endblock %}


{% block footer %}
    {% include "partials/footer.html.twig" %}
{% endblock %}

