.about-container {
	.section-title {
		text-align: left;
		font-size: 2.5em;
	}
	blockquote {
		text-align: center;
		font-size: 1.5em;
	}
	#_many-faces {
		
		.carousel	{
			.item {
				width: 80%;
				margin: 0 auto;
				.slide-title {
					display: none;
				}
				img {
				max-width: 400px;
				}
			}
		}
	}	
}