$gray-dark: #222;
$gray-light: #eaeaea;

$gray-blue: #1E2431;
$gray-blue2: #2D2A32;
$gray-blue3: #3B4656;


$gray-light2: #BCABAE;
$gray-dark2: #2D2E2E;
$black: #0F0F0F;

$navy: #030e1e;
$navy-dark: #000715;	


$red: #d80033;
$red-light: #F53440;
$white: #fff;

$highlight-color: #ffffd5;
$yellow: #DDD92A;
$yellow-light: #EAE151;