
h2, h3, .section-title, .page-title, .title-heading {
	font-weight: 300;
	text-align: center;
}

h2, .page-title {
	font-size: 3.75em;
	margin-top: 0;
	margin-bottom: 20px;
	padding: 10px 0 20px;
	font-weight: 100;
}

h3, .section-title {
	font-size: 3.25em;
	margin-bottom: 15px;
	padding-bottom: 10px;
}

h4, h5, h6 {
	&,
	&.title-heading {
		font-weight: 300;
	}
}

h4 {
	font-size: 2.75em;
}
h5 {
	font-size: 2em;
}
h6 {
	font-size: 1.5em;
}

.slide-title {
	font-size: 2em;
	font-weight: 400;
}

.back-page {
	section {
		padding: 20px 0;
		&.quick-links-section {
			padding: 30px 0;
		}
		@media (min-width: $screen-sm) {
			padding: 40px 0;
			&.quick-links-section {
				padding: 50px;
			}
		}
	}
}

section {
	article {
		padding: 20px 0;
		&:not(:last-child) {
			border-bottom: 1px solid $gray-light;
			margin-bottom: 10px;
		}
	}

}

@media (min-width: $screen-sm) {

	h2, .page-title {
		font-size: 4em;
	}
	h3, .section-title {
		font-size: 3em;
		padding-bottom: 20px;
	}



	section {
		article {
			padding: 30px 0;
		}
	}

}

@media (min-width: $screen-lg) {

	h2, .page-title {
		font-size: 5em;
		margin-bottom: 30px;
		padding: 20px 0 50px;
	}
	h3, .section-title {
		font-size: 3.5em;
		margin-bottom: 20px;
		xpadding-bottom: 10px;
	}


	section {
		article {
			padding: 30px 0 45px;
		}
	}

}