.jw-icon {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f5f6+0,e3eaed+37,c8d7dc+100;Grey+3D+%234 */
	background: #f2f5f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	position: relative;
	z-index: 1;
	object svg {

		width: 100%;
		height: 100%;
		xposition: absolute;
		xtop: 0;
		xleft: 0;
	}


}
.site-header {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#262c38+0,000715+100 */
	background: #262c38; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #262c38 0%, #000715 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #262c38 0%,#000715 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #262c38 0%,#000715 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-bottom: 3px solid $red;
	h2 {
		color: $white;
		text-align: center;
	}
}

.top-nav {
	//background-color: $navy;
	font-size: 1.5rem;

	.container {
		& > div {
			margin-top: 0px;
		}	
	}
	h1 a,
	li a {
		padding: 0px 20px 8px;
	}

	h1, li {
		& >a,
		& > span {
			xheight: 1.5em;
			font-size: 1em;

			line-height:  1.2em;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}

	nav {
		li {
			& > a {
				font-size: 1.2rem;
				color: $white;
				margin: 0;
				&:hover {
					background-color: transparent;
					text-decoration: underline;
				}
			}
			&.dropdown {
				&.open > a {
					color: $gray-dark2;
				}
				ul {
					a {
						color: $navy;
					}
				}
			}
		}
	}

	.navbar-toggle { 
		color: $white;
		padding: 10px;
		margin-top: 10px;
			z-index: 9999;
		.glyphicon-remove {
			xcolor: $navy;
		}
		.glyphicon-menu-hamburger {
			display: none;
		}
		&.collapsed {
			.glyphicon-remove {
				display: none;
			}
			.glyphicon-menu-hamburger {
				display: block;
			}
		}
	}
	.site-name-container {
		padding-top: 20px;
		width: 75%;
		float: left;
	}
	.navigation-container {
		width: 25%;
		float: right;
	}

	@media (min-width: $screen-md) {

		.container {
			& > div {
				margin-top: 20px;
			}	
		}
		.site-name-container {
			width: 25%;
			padding-top: 0;
		}
		.navigation-container {
			width: 75%;
		}    	
	}

	@media (max-width: $screen-md) {	
		.navbar-collapse.collapse {
			display: none !important;
			&.in {
				display: block !important;
			}
		}
		.navbar-toggle {
			display: block;
		}
		nav {
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			background-color: $gray-blue2;
			padding-top: 20px;
			z-index: 999;
			li {
				a {
					color: $gray-light2;
					padding: 10px 20px;
					xheight: a
				}
			}
		}
	}
	@media (min-width: $screen-sm) and (max-width: $screen-md) {
		.navbar-toggle {
			position: absolute;
			left: 0;
			top: 0;
		}
	}

}

footer {
	padding: 15px 0;
	border-top: 1px solid $gray-light2;
	.jw-link {
		line-height: 1rem;
		img {
			max-height: 2.5rem;
		}
	}
	.nav {
		& > li {
			& > a {
				&:hover {
					background-color: transparent;
					text-decoration: underline;
				}
			}
		}
	}
	@media (max-width: $screen-md) {
		& {
			text-align: center;
			.media {
				max-width: 200px;
				margin: 0 auto;
			}
		}
	}
}

h1.site-name {
	font-size: 1em;
	margin-top: 0;
	margin-bottom: 0;
	a {
		padding-left: 2em;
		color: #fff;
		background: transparent url('../images/jw-red-icon-small.png') top left no-repeat;
		background-size: 1.5em;
		strong {
			font-weight: 200;
		}
		&:hover {
			color: $highlight-color;
		}
	}
}

