.nav-tabs {

	border-bottom: 0px;
	text-align: center;
	margin-bottom: 2em;
	& > li {

		float: none;
		margin-bottom: 0px;
		display: inline-block;
		& > a {

			border: 2px solid $gray-blue;
			color: $gray-blue;

			margin-right: 10px;
			margin-bottom: 10px;
			line-height: 1.42857143;
			font-size: 1.5em;

			padding: 10px 20px;
			font-weight: 300;
			border-radius: 50px;
			text-align: center;
			&:hover,
			{
				color: $navy;
				border-color: $navy;
				background-color: transparent;
				text-decoration: underline;
			}
		}
		&.active {
			& > a,
			& > a:hover {
				color: $red;
				border-color: $red;
			}


		}
	}
}

.tab-pane {
	text-align: center;
	.tab-content {
		strong {
			display: block;
		}
	}
}