
@import "colors";

$grid-gutter-width: 15px;
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$container-xs: 540px;
$container-sm: 720px;
$container-md: 960px;
$container-lg: 1140px;


@mixin clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin make-my-container {

	@media (min-width: $screen-xs)
	{
	    max-width: $container-xs;
	}
	@media (min-width: $screen-sm)
	{
	    max-width: $container-sm;
	}

	@media (min-width: $screen-md)
	{
	    max-width: $container-md;
	}
	@media (min-width: $screen-lg)
	{
	    max-width: $container-lg;
	}
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

}

@import "css-toggle-switch/toggle-switch";
@import "css-toggle-switch/toggle-switch-rem";
@import "block-grid";
@import "format";

html, body  {
	height: 100%;
	margin: 0 auto;
	font-family: 'Roboto',Helvetica,Arial,sans-serif;
	font-size: 16px;
	color: $black;
	background-color: $gray-light;
	@media (max-width: $screen-md) {
		font-size: 14px;
	}
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1rem;
}

a, a:visited, a:link {
	color: $gray-blue2;
	&:hover {
		color: lighten($gray-blue2, 20%);;
	}
	.red-bg & {
		color: $white;
		&:hover {
			color: $highlight-color;
		}
	}
	&.red-text {
		color: $red;
		&:hover {
			color: darken($red, 20%);
		}
	}
}

p a {
	text-decoration: underline;
}


.row {
	&.no-gutter {
		margin-left: 0;
		margin-right: 0;
	}
}

blockquote p {
	margin-bottom: 0;
}


.img-responsive {
	margin: 0 auto;
}

.white-text {
	color: #fff;
}
.red-text {
	color: $red;
}


.color-a {
	color: #1E2431;
}
.color-b {
	color: #d80033;
}
.color-c {
	color: #1E2431;
}

.red-bg { 
	background-color: $red;
}
.blue-bg {
	background-color: $navy;
	color: $white;
}
.red-bg, .blue-bg {
	.section-title {
		color: $white;
	}
	a, a:visited, a.active {
		color: $highlight-color;
	}
}

.light-colored-bg, .white-bg {
	background-color: #fff;
}

.box-item {

	padding: 1.5em;
	border-radius: 7px;
	margin-bottom: 1.25em;
}


.btn, a.btn,  {
	background-color: $navy;
	border-color: $navy;
	border-width: 2px;
	color: $white;
	text-align: center;
	font-size: 1em;
	font-weight: 300;
	text-decoration: none;
	&:hover {
		border-color: lighten($navy, 15%);
		background-color: lighten($navy, 20%);
		color: $highlight-color;
	}
	&.btn-round {
		border-radius: 50px;
	}
	.red-bg &, 
	.blue-bg &,
	.dark-bg & {

		border-color: $white;
		color: $white;
		background-color: transparent;
		&:hover {
			background-color: $white;
			color: $navy;
			text-decoration: underline;
		}
	}
	&.btn-red {
		background-color: $red;
		border-color: $red;
		&:hover {
			background-color: darken($red, 10%);
			border-color: darken($red, 10%);
			color: $white;
		}
	}
}


.quick-tab-btns, .quick-links {
	.btn {
		padding: 10px 20px;
		xborder-radius: 50px;
			font-size: 1.25em;
	}

}

@media (max-width: $screen-sm) {
	.quick-links li {
		margin-bottom: 10px;
	}
}

@media (max-width: $screen-md) {
	.no-js .btn.toggler-btn { display: none; }
	.js .toggled-content {
		display: none;
	}
}

.sidebar-layout {

	.content-col-inner {
		padding-top: 15px;
		padding-bottom: 0;
	}	
	.section-title {
		text-align: left;
		font-weight: 300
	}
	hr {
		background-color: $gray-blue2;
		border-color: $gray-blue2;
	}
	a:hover {
		color: $red;
	}
}
.flex-gutter-row {
	.content-col-inner {
		padding-left: 15px;
		padding-right: 15px;
	}
	@media (max-width: $screen-sm) {
		.left-column {
			padding-bottom: 10px;
		}
	}
	@media (min-width: $screen-sm) {
		display: flex;
		.gutter-col {
			flex: 1;
		}
		.left-column .content-col-inner {
			margin: 0 0 0 auto;
		}
		.right-column .content-col-inner {
			margin: 0 auto 0 0;
		}
		.left-column .content-col-inner {
			width: .75 * $container-sm;
		}
		.right-column .content-col-inner {
			width: .25 * $container-sm;
		}
	}
	@media (min-width: $screen-md) {
		.left-column  .content-col-inner{
			width: .6666 * $container-md;
		}
		.right-column .content-col-inner {
			width: .3333 * $container-md;
		}
	}
	@media (min-width: $screen-lg) {
		.left-column .content-col-inner {
			width: .6666 * $container-lg;
		}
		.right-column .content-col-inner {
			width: .3333 * $container-lg;
		}
	}
	
}

.flex-listing-row {
	display: flex;
	.flex-col {
		flex: 1 0 33%;
	}
}

@import "site-header";
/*@import "nav";*/
@import "front-page";
@import "skills";
@import "tabs";
@import "project-spotlight";
@import "about";

ul.list-unstyled.row {
	li {
		margin-bottom: 15px;
	}
}

.social-icons-container {
	li {
		padding: 5px 10px;
	}
	a {
		padding: 20px;
		border-radius: 50%;
		border: 2px solid #fff;

		-webkit-transition: all .3s;
		transition: all .3s;
		display: inline-block;

		&:hover {
			border-color: rgba(255, 255, 255, 0.23);
		}
	}
	&.blue-bg {
		a:hover {
			background-color: $red;
		}
	}
	&.red-bg {
		a:hover {
			background-color: $gray-blue;
		}
	}
}

.carousel { 

	.carousel-control, 
	.carousel-control:hover {
		background: transparent;
		color: #d80033;
	}
	.carousel-indicators {
		bottom:  0;
	}
	.carousel-indicators li {
		border-radius: 10px;
		margin: 1px 3px;
		height: 10px;
		max-width: 10px;
		border: 1px solid #d80033;
		background-color: transparent;
		&.active {
			background-color: $red;
			max-width: 12px;
			margin: 0 3px;
			height: 12px;
		}
	}

}

#client_slideshow {
	.carousel-item {
		text-align: center;
		img {
			max-width: 400px;
		}
	}
}




.other-project {

	background-color: #fff;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	max-width: 900px;
	margin: 0 auto 20px;
	padding: 10px;
	.container {
		width: auto;
		max-width: 100%;
		color: #0f0f0f;
		a {
			color: $red;
		}
	}

}

.my-services {
	blockquote {

		border: 0;
		text-align: center;
		padding: 1.5em 0;
		font-size: 2em;
		color: $red;

	}
}

.sidebar-list {
	.section-title {

	}
	.row {
		xmax-width: 550px;
	}
	.label, 
	.value {
		line-height: 2.5em;
		font-size: 1.25em;
		padding-left: 15px;
		padding-right: 15px;
	}
	.label {
		color: $navy;
		text-align: left;
	}
	@media (max-width: $screen-md) {
		.label,
		.value {
			line-height: 1;
		}
		.label {
			padding: .6em .6em 0;
		}
	}
}
.connections-page {
	main {
		height: auto;
	}

	//@media (min-width: $screen-md) {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+66,0+67 */
	//	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 66.67%, rgba(255,255,255,0) 66.671%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	//	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 66.67%,rgba(255,255,255,0) 66.671%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	//	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 66.67%,rgba(255,255,255,0) 66.671%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	//}

}

.form-container {
	xmax-width: 550px;
	margin: 0 auto;
	.form-field {
		@include clearfix();
		padding-top: 10px;
		padding-bottom: 10px;
		.form-label {
			width: 20%;
			float: left;
			text-align: right;
			padding: 6px 12px;
			line-height: 1.4286;
		}
		.form-data {
			max-width: 500px;
		}
	}
	.buttons {
		.btn.btn-primary {
		}
	}
}

.connections-list .row,
.form-container .form-field {
	margin-bottom: 10px;
}

.post-form-container {
	background-color: $white;
	max-width: 550px;
	border-radius: 10px;
	margin: 20px auto;
	padding: 20px; 
	img {
		max-width: 350px;
		width: 50%;
		display: block;
		margin: 0 auto 20px;
	}
}