[class*="block-grid-"] {
  display: block;
  margin: -7.5px;
  padding: 0; }
  [class*="block-grid-"]:before, [class*="block-grid-"]:after {
    content: " ";
    display: table; }
  [class*="block-grid-"]:after {
    clear: both; }

.block-grid-item {
  display: inline;
  margin: 0;
  padding: 7.5px;
  height: auto;
  float: left;
  list-style: none; }

.block-grid-xs-1 > .block-grid-item {
  width: 100%; }
  .block-grid-xs-1 > .block-grid-item:nth-of-type(n) {
    clear: none; }
  .block-grid-xs-1 > .block-grid-item:nth-of-type(1n+1) {
    clear: both; }

.block-grid-xs-2 > .block-grid-item {
  width: 50%; }
  .block-grid-xs-2 > .block-grid-item:nth-of-type(n) {
    clear: none; }
  .block-grid-xs-2 > .block-grid-item:nth-of-type(2n+1) {
    clear: both; }

.block-grid-xs-3 > .block-grid-item {
  width: 33.33333%; }
  .block-grid-xs-3 > .block-grid-item:nth-of-type(n) {
    clear: none; }
  .block-grid-xs-3 > .block-grid-item:nth-of-type(3n+1) {
    clear: both; }

.block-grid-xs-4 > .block-grid-item {
  width: 25%; }
  .block-grid-xs-4 > .block-grid-item:nth-of-type(n) {
    clear: none; }
  .block-grid-xs-4 > .block-grid-item:nth-of-type(4n+1) {
    clear: both; }

.block-grid-xs-5 > .block-grid-item {
  width: 20%; }
  .block-grid-xs-5 > .block-grid-item:nth-of-type(n) {
    clear: none; }
  .block-grid-xs-5 > .block-grid-item:nth-of-type(5n+1) {
    clear: both; }

.block-grid-xs-6 > .block-grid-item {
  width: 16.66667%; }
  .block-grid-xs-6 > .block-grid-item:nth-of-type(n) {
    clear: none; }
  .block-grid-xs-6 > .block-grid-item:nth-of-type(6n+1) {
    clear: both; }

.block-grid-xs-7 > .block-grid-item {
  width: 14.28571%; }
  .block-grid-xs-7 > .block-grid-item:nth-of-type(n) {
    clear: none; }
  .block-grid-xs-7 > .block-grid-item:nth-of-type(7n+1) {
    clear: both; }

.block-grid-xs-8 > .block-grid-item {
  width: 12.5%; }
  .block-grid-xs-8 > .block-grid-item:nth-of-type(n) {
    clear: none; }
  .block-grid-xs-8 > .block-grid-item:nth-of-type(8n+1) {
    clear: both; }

.block-grid-xs-9 > .block-grid-item {
  width: 11.11111%; }
  .block-grid-xs-9 > .block-grid-item:nth-of-type(n) {
    clear: none; }
  .block-grid-xs-9 > .block-grid-item:nth-of-type(9n+1) {
    clear: both; }

.block-grid-xs-10 > .block-grid-item {
  width: 10%; }
  .block-grid-xs-10 > .block-grid-item:nth-of-type(n) {
    clear: none; }
  .block-grid-xs-10 > .block-grid-item:nth-of-type(10n+1) {
    clear: both; }

.block-grid-xs-11 > .block-grid-item {
  width: 9.09091%; }
  .block-grid-xs-11 > .block-grid-item:nth-of-type(n) {
    clear: none; }
  .block-grid-xs-11 > .block-grid-item:nth-of-type(11n+1) {
    clear: both; }

.block-grid-xs-12 > .block-grid-item {
  width: 8.33333%; }
  .block-grid-xs-12 > .block-grid-item:nth-of-type(n) {
    clear: none; }
  .block-grid-xs-12 > .block-grid-item:nth-of-type(12n+1) {
    clear: both; }

@media (min-width: 768px) {
  .block-grid-sm-1 > .block-grid-item {
    width: 100%; }
    .block-grid-sm-1 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-sm-1 > .block-grid-item:nth-of-type(1n+1) {
      clear: both; }

  .block-grid-sm-2 > .block-grid-item {
    width: 50%; }
    .block-grid-sm-2 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-sm-2 > .block-grid-item:nth-of-type(2n+1) {
      clear: both; }

  .block-grid-sm-3 > .block-grid-item {
    width: 33.33333%; }
    .block-grid-sm-3 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-sm-3 > .block-grid-item:nth-of-type(3n+1) {
      clear: both; }

  .block-grid-sm-4 > .block-grid-item {
    width: 25%; }
    .block-grid-sm-4 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-sm-4 > .block-grid-item:nth-of-type(4n+1) {
      clear: both; }

  .block-grid-sm-5 > .block-grid-item {
    width: 20%; }
    .block-grid-sm-5 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-sm-5 > .block-grid-item:nth-of-type(5n+1) {
      clear: both; }

  .block-grid-sm-6 > .block-grid-item {
    width: 16.66667%; }
    .block-grid-sm-6 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-sm-6 > .block-grid-item:nth-of-type(6n+1) {
      clear: both; }

  .block-grid-sm-7 > .block-grid-item {
    width: 14.28571%; }
    .block-grid-sm-7 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-sm-7 > .block-grid-item:nth-of-type(7n+1) {
      clear: both; }

  .block-grid-sm-8 > .block-grid-item {
    width: 12.5%; }
    .block-grid-sm-8 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-sm-8 > .block-grid-item:nth-of-type(8n+1) {
      clear: both; }

  .block-grid-sm-9 > .block-grid-item {
    width: 11.11111%; }
    .block-grid-sm-9 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-sm-9 > .block-grid-item:nth-of-type(9n+1) {
      clear: both; }

  .block-grid-sm-10 > .block-grid-item {
    width: 10%; }
    .block-grid-sm-10 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-sm-10 > .block-grid-item:nth-of-type(10n+1) {
      clear: both; }

  .block-grid-sm-11 > .block-grid-item {
    width: 9.09091%; }
    .block-grid-sm-11 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-sm-11 > .block-grid-item:nth-of-type(11n+1) {
      clear: both; }

  .block-grid-sm-12 > .block-grid-item {
    width: 8.33333%; }
    .block-grid-sm-12 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-sm-12 > .block-grid-item:nth-of-type(12n+1) {
      clear: both; } }
@media (min-width: 992px) {
  .block-grid-md-1 > .block-grid-item {
    width: 100%; }
    .block-grid-md-1 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-md-1 > .block-grid-item:nth-of-type(1n+1) {
      clear: both; }

  .block-grid-md-2 > .block-grid-item {
    width: 50%; }
    .block-grid-md-2 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-md-2 > .block-grid-item:nth-of-type(2n+1) {
      clear: both; }

  .block-grid-md-3 > .block-grid-item {
    width: 33.33333%; }
    .block-grid-md-3 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-md-3 > .block-grid-item:nth-of-type(3n+1) {
      clear: both; }

  .block-grid-md-4 > .block-grid-item {
    width: 25%; }
    .block-grid-md-4 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-md-4 > .block-grid-item:nth-of-type(4n+1) {
      clear: both; }

  .block-grid-md-5 > .block-grid-item {
    width: 20%; }
    .block-grid-md-5 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-md-5 > .block-grid-item:nth-of-type(5n+1) {
      clear: both; }

  .block-grid-md-6 > .block-grid-item {
    width: 16.66667%; }
    .block-grid-md-6 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-md-6 > .block-grid-item:nth-of-type(6n+1) {
      clear: both; }

  .block-grid-md-7 > .block-grid-item {
    width: 14.28571%; }
    .block-grid-md-7 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-md-7 > .block-grid-item:nth-of-type(7n+1) {
      clear: both; }

  .block-grid-md-8 > .block-grid-item {
    width: 12.5%; }
    .block-grid-md-8 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-md-8 > .block-grid-item:nth-of-type(8n+1) {
      clear: both; }

  .block-grid-md-9 > .block-grid-item {
    width: 11.11111%; }
    .block-grid-md-9 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-md-9 > .block-grid-item:nth-of-type(9n+1) {
      clear: both; }

  .block-grid-md-10 > .block-grid-item {
    width: 10%; }
    .block-grid-md-10 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-md-10 > .block-grid-item:nth-of-type(10n+1) {
      clear: both; }

  .block-grid-md-11 > .block-grid-item {
    width: 9.09091%; }
    .block-grid-md-11 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-md-11 > .block-grid-item:nth-of-type(11n+1) {
      clear: both; }

  .block-grid-md-12 > .block-grid-item {
    width: 8.33333%; }
    .block-grid-md-12 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-md-12 > .block-grid-item:nth-of-type(12n+1) {
      clear: both; } }
@media (min-width: 1200px) {
  .block-grid-lg-1 > .block-grid-item {
    width: 100%; }
    .block-grid-lg-1 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-lg-1 > .block-grid-item:nth-of-type(1n+1) {
      clear: both; }

  .block-grid-lg-2 > .block-grid-item {
    width: 50%; }
    .block-grid-lg-2 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-lg-2 > .block-grid-item:nth-of-type(2n+1) {
      clear: both; }

  .block-grid-lg-3 > .block-grid-item {
    width: 33.33333%; }
    .block-grid-lg-3 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-lg-3 > .block-grid-item:nth-of-type(3n+1) {
      clear: both; }

  .block-grid-lg-4 > .block-grid-item {
    width: 25%; }
    .block-grid-lg-4 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-lg-4 > .block-grid-item:nth-of-type(4n+1) {
      clear: both; }

  .block-grid-lg-5 > .block-grid-item {
    width: 20%; }
    .block-grid-lg-5 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-lg-5 > .block-grid-item:nth-of-type(5n+1) {
      clear: both; }

  .block-grid-lg-6 > .block-grid-item {
    width: 16.66667%; }
    .block-grid-lg-6 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-lg-6 > .block-grid-item:nth-of-type(6n+1) {
      clear: both; }

  .block-grid-lg-7 > .block-grid-item {
    width: 14.28571%; }
    .block-grid-lg-7 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-lg-7 > .block-grid-item:nth-of-type(7n+1) {
      clear: both; }

  .block-grid-lg-8 > .block-grid-item {
    width: 12.5%; }
    .block-grid-lg-8 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-lg-8 > .block-grid-item:nth-of-type(8n+1) {
      clear: both; }

  .block-grid-lg-9 > .block-grid-item {
    width: 11.11111%; }
    .block-grid-lg-9 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-lg-9 > .block-grid-item:nth-of-type(9n+1) {
      clear: both; }

  .block-grid-lg-10 > .block-grid-item {
    width: 10%; }
    .block-grid-lg-10 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-lg-10 > .block-grid-item:nth-of-type(10n+1) {
      clear: both; }

  .block-grid-lg-11 > .block-grid-item {
    width: 9.09091%; }
    .block-grid-lg-11 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-lg-11 > .block-grid-item:nth-of-type(11n+1) {
      clear: both; }

  .block-grid-lg-12 > .block-grid-item {
    width: 8.33333%; }
    .block-grid-lg-12 > .block-grid-item:nth-of-type(n) {
      clear: none; }
    .block-grid-lg-12 > .block-grid-item:nth-of-type(12n+1) {
      clear: both; } }
h2, h3, .section-title, .page-title, .title-heading {
  font-weight: 100;
  text-align: center; }

h2, .page-title {
  font-size: 3.75rem;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 10px 0 20px;
  font-weight: 100; }

h3, .section-title {
  font-size: 3.25rem;
  margin-bottom: 15px;
  padding-bottom: 10px; }

h4, h4.title-heading, h5, h5.title-heading, h6, h6.title-heading {
  font-weight: 300; }

h4 {
  font-size: 2.75rem; }

h5 {
  font-size: 2rem; }

h6 {
  font-size: 1.5rem; }

.slide-title {
  font-size: 2rem;
  font-weight: 400; }

.back-page section {
  padding: 20px 0; }
  .back-page section.quick-links-section {
    padding: 30px 0; }
  @media (min-width: 768px) {
    .back-page section {
      padding: 40px 0; }
      .back-page section.quick-links-section {
        padding: 50px; } }

section article {
  padding: 20px 0; }
  section article:not(:last-child) {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px; }

@media (min-width: 768px) {
  h2, .page-title {
    font-size: 4rem; }

  h3, .section-title {
    font-size: 3rem;
    padding-bottom: 20px; }

  section article {
    padding: 30px 0; } }
@media (min-width: 1200px) {
  h2, .page-title {
    font-size: 5rem;
    margin-bottom: 30px;
    padding: 20px 0 50px; }

  h3, .section-title {
    font-size: 3.5rem;
    margin-bottom: 20px;
    xpadding-bottom: 10px; }

  section article {
    padding: 30px 0 45px; } }
html, body {
  height: 100%;
  margin: 0 auto;
  font-family: 'Roboto',Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: #0F0F0F;
  background-color: #eaeaea; }

a, a:visited, a:link {
  color: #2D2A32; }
  a:hover, a:visited:hover, a:link:hover {
    color: #524d5c; }
  .red-bg a, .red-bg a:visited, .red-bg a:link {
    color: #fff; }
    .red-bg a:hover, .red-bg a:visited:hover, .red-bg a:link:hover {
      color: #ffffd5; }

.row.no-gutter {
  margin-left: 0;
  margin-right: 0; }

blockquote p {
  margin-bottom: 0; }

.img-responsive {
  margin: 0 auto; }

.white-text {
  color: #fff; }

.red-text {
  color: #d80033; }

.color-a {
  color: #1E2431; }

.color-b {
  color: #d80033; }

.color-c {
  color: #1E2431; }

.red-bg {
  background-color: #F53440; }

.blue-bg {
  background-color: #030e1e; }

.red-bg .section-title, .blue-bg .section-title {
  color: #fff; }

.light-colored-bg {
  background-color: #fff; }

.box-item {
  padding: 1.5rem;
  border-radius: 7px;
  margin-bottom: 1.25rem; }

.btn, a.btn {
  border-color: #030e1e;
  border-width: 2px;
  color: #030e1e;
  background-color: #eaeaea;
  text-align: center;
  font-size: 1em;
  font-weight: 300; }
  .btn:hover, a.btn:hover {
    border-color: #0a2e64;
    background-color: #fff;
    color: #0a2e64; }
  .btn.btn-round, a.btn.btn-round {
    border-radius: 50px; }
  .red-bg .btn, .blue-bg .btn, .dark-bg .btn, .red-bg a.btn, .blue-bg a.btn, .dark-bg a.btn {
    border-color: #fff;
    color: #fff;
    background-color: transparent; }
    .red-bg .btn:hover, .blue-bg .btn:hover, .dark-bg .btn:hover, .red-bg a.btn:hover, .blue-bg a.btn:hover, .dark-bg a.btn:hover {
      background-color: #fff;
      color: #030e1e;
      text-decoration: underline; }

.jw-icon {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f5f6+0,e3eaed+37,c8d7dc+100;Grey+3D+%234 */
  background: #f2f5f6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
  z-index: 1; }
  .jw-icon object svg {
    width: 100%;
    height: 100%;
    xposition: absolute;
    xtop: 0;
    xleft: 0; }

.site-header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#262c38+0,000715+100 */
  background: #262c38;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #262c38 0%, #000715 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #262c38 0%, #000715 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #262c38 0%, #000715 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-bottom: 3px solid #d80033; }
  .site-header h2 {
    color: #fff;
    text-align: center; }

.top-nav {
  font-size: 1.5rem; }
  .top-nav .container > div {
    margin-top: 0px; }
  .top-nav h1 a,
  .top-nav li a {
    padding: 0px 20px 8px; }
  .top-nav h1 > a, .top-nav h1 > span, .top-nav li > a, .top-nav li > span {
    xheight: 1.5em;
    font-size: 1em;
    line-height: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px; }
  .top-nav nav li > a {
    font-size: 1.2rem;
    color: #fff;
    margin: 0; }
    .top-nav nav li > a:hover {
      background-color: transparent;
      text-decoration: underline; }
  .top-nav nav li.dropdown.open > a {
    color: #2D2E2E; }
  .top-nav nav li.dropdown ul a {
    color: #030e1e; }
  .top-nav .navbar-toggle {
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    z-index: 9999; }
    .top-nav .navbar-toggle .glyphicon-remove {
      xcolor: #030e1e; }
    .top-nav .navbar-toggle .glyphicon-menu-hamburger {
      display: none; }
    .top-nav .navbar-toggle.collapsed .glyphicon-remove {
      display: none; }
    .top-nav .navbar-toggle.collapsed .glyphicon-menu-hamburger {
      display: block; }
  .top-nav .site-name-container {
    padding-top: 20px;
    width: 75%;
    float: left; }
  .top-nav .navigation-container {
    width: 25%;
    float: right; }
  @media (min-width: 992px) {
    .top-nav .container > div {
      margin-top: 20px; }
    .top-nav .site-name-container {
      width: 25%;
      padding-top: 0; }
    .top-nav .navigation-container {
      width: 75%; } }
  @media (max-width: 992px) {
    .top-nav .navbar-collapse.collapse {
      display: none !important; }
      .top-nav .navbar-collapse.collapse.in {
        display: block !important; }
    .top-nav .navbar-toggle {
      display: block; }
    .top-nav nav {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      background-color: #2D2A32;
      padding-top: 20px;
      z-index: 999; }
      .top-nav nav li a {
        color: #BCABAE;
        padding: 10px 20px;
        xheight: a; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .top-nav .navbar-toggle {
      position: absolute;
      left: 0;
      top: 0; } }

footer {
  padding: 15px 0;
  border-top: 1px solid #BCABAE; }
  footer .jw-link {
    line-height: 1rem; }
    footer .jw-link img {
      max-height: 2.5rem; }
  footer .nav > li > a:hover {
    background-color: transparent;
    text-decoration: underline; }

h1.site-name {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0; }
  h1.site-name a {
    padding-left: 2em;
    color: #fff;
    background: transparent url("../images/jw-red-icon-small.png") top left no-repeat;
    background-size: 1.5em; }
    h1.site-name a strong {
      font-weight: 200; }
    h1.site-name a:hover {
      color: #ffffd5; }

.quick-tab-btns .btn, .quick-links .btn {
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1.25em; }

.front-page-container {
  height: 100%;
  width: 100%;
  background: #eaeaea;
  xposition: relative;
  xdisplay: flex; }
  .front-page-container h2, .front-page-container h3, .front-page-container h4, .front-page-container h5, .front-page-container h6 {
    text-align: left;
    margin-bottom: 10px;
    color: #000715; }
  .front-page-container h2 {
    font-size: 3rem;
    padding: 20px 0;
    font-weight: 500; }
    .front-page-container h2 span {
      color: #d80033; }
  .front-page-container h3 {
    font-size: 2.5rem;
    padding: 10px 0 5px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 300; }
    .front-page-container h3:xbefore {
      position: relative;
      top: 1px;
      display: inline-block;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      content: "\00b7";
      color: #d80033; }
  .front-page-container h4 {
    font-size: 1.25rem;
    text-align: center;
    font-weight: 300; }
  .front-page-container h5 {
    font-size: 1.75rem; }
  .front-page-container h6 {
    font-size: 1.5rem; }
  .front-page-container .block-cotent {
    xzheight: 100%; }
  .front-page-container .block-left {
    background-color: #000715; }
    .front-page-container .block-left .block-inner {
      xheight: 100%; }
    .front-page-container .block-left .block-content {
      background: transparent url("../images/headshot.jpg") center top no-repeat;
      background-size: cover;
      xheight: 100%; }
  .front-page-container .block-right {
    xwidth: 50%;
    xmargin: 0 0 0 auto;
    xposition: relative; }
    .front-page-container .block-right .block-content {
      padding: 1px 30px 0; }
      .front-page-container .block-right .block-content section {
        padding: 30px 0;
        border-bottom: 1px solid #2D2A32; }
    .front-page-container .block-right .jw-logo-fixed {
      position: fixed;
      top: 30px;
      right: 30px;
      text-align: right; }
      .front-page-container .block-right .jw-logo-fixed img {
        max-height: 2rem; }
    .front-page-container .block-right nav {
      border: 2px solid #000715;
      border-radius: 6px;
      background-color: #030e1e; }
      .front-page-container .block-right nav ul {
        margin-bottom: 0; }
      .front-page-container .block-right nav a {
        line-height: 2;
        padding: 5px 10px;
        color: #ffffd5;
        border-bottom: 2px solid #222; }
        .front-page-container .block-right nav a:hover {
          background-color: #08244c;
          color: #fff; }
      .front-page-container .block-right nav li:last-child a {
        border-bottom: 0; }
  .front-page-container .top-image-container {
    background: #2D2E2E;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #3B4656 0%, #000715 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #3B4656 0%, #000715 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #3B4656 0%, #000715 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .front-page-container .top-image {
    max-width: 400px;
    padding: 30px 0;
    margin: 0 auto;
    xheight: 300px; }
    .front-page-container .top-image img {
      border: 3px solid #030e1e;
      max-height: 250px; }
  .front-page-container .front-page-blurb {
    text-align: center;
    background-color: #000715;
    xheight: 45%;
    padding-top: 20px; }
    .front-page-container .front-page-blurb h1 {
      margin-bottom: 14px;
      color: #BCABAE; }
      .front-page-container .front-page-blurb h1 span {
        display: block;
        margin-bottom: 10px; }
      .front-page-container .front-page-blurb h1 small {
        display: block;
        color: #BCABAE; }
        .front-page-container .front-page-blurb h1 small.red {
          color: #d80033; }
    .front-page-container .front-page-blurb p {
      width: 90%;
      margin: 0 auto; }
  .front-page-container .quick-tab-btns li {
    text-align: center; }
  .front-page-container .social-icons-list {
    padding: 10px 0; }
    .front-page-container .social-icons-list a {
      padding: 5px;
      border: 0; }
    .front-page-container .social-icons-list img {
      max-height: 28px; }
  .front-page-container .client-list h4 {
    height: 2em; }
  @media (min-width: 992px) {
    .front-page-container .block-cotent {
      height: 100%; }
    .front-page-container .block-left {
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: 50%;
      xbackground-color: #000715; }
      .front-page-container .block-left .block-inner {
        height: 100%; }
      .front-page-container .block-left .block-content {
        background: transparent url("../images/headshot.jpg") center top no-repeat;
        background-size: cover;
        height: 100%; }
    .front-page-container .block-right {
      width: 50%;
      margin: 0 0 0 auto;
      position: relative; }
      .front-page-container .block-right x.jw-logo-fixed {
        position: fixed;
        top: 30px;
        right: 30px; }
        .front-page-container .block-right x.jw-logo-fixed img {
          max-height: 2rem; }
    .front-page-container .top-image {
      height: 55%; }
      .front-page-container .top-image img {
        max-height: 300px; }
    .front-page-container .front-page-blurb {
      height: 45%; } }
  @media (max-height: 475px) {
    .front-page-container .top-image {
      padding: 10px 0;
      height: 50%; }
      .front-page-container .top-image img {
        max-height: 150px; }
    .front-page-container .front-page-blurb {
      height: 50%; }
      .front-page-container .front-page-blurb p {
        display: none; } }

.skills-listing .media {
  margin-bottom: 20px; }
.skills-listing .media-heading {
  font-size: 1.5rem;
  color: #030e1e; }
.skills-listing .icon-skill {
  min-width: 75px;
  text-align: center; }
.skills-listing .meter-skill {
  background: rgba(77, 87, 99, 0.13);
  padding: 5px;
  border-radius: 4px;
  margin-top: 10px; }
  .skills-listing .meter-skill .this-skill {
    border-radius: 4px;
    height: 1.25rem; }
    .skills-listing .meter-skill .this-skill.skill-fill-10 {
      width: 10%; }
    .skills-listing .meter-skill .this-skill.skill-fill-20 {
      width: 20%; }
    .skills-listing .meter-skill .this-skill.skill-fill-30 {
      width: 30%; }
    .skills-listing .meter-skill .this-skill.skill-fill-40 {
      width: 40%; }
    .skills-listing .meter-skill .this-skill.skill-fill-50 {
      width: 50%; }
    .skills-listing .meter-skill .this-skill.skill-fill-60 {
      width: 60%; }
    .skills-listing .meter-skill .this-skill.skill-fill-70 {
      width: 70%; }
    .skills-listing .meter-skill .this-skill.skill-fill-80 {
      width: 80%; }
    .skills-listing .meter-skill .this-skill.skill-fill-90 {
      width: 90%; }
    .skills-listing .meter-skill .this-skill.skill-fill-100 {
      width: 100%; }

.other-skills {
  padding-top: 20px; }
  .other-skills .title-heading {
    text-align: left;
    height: 2.2em; }
  .other-skills .oSkill {
    margin-bottom: 10px; }
    .other-skills .oSkill strong {
      padding: .8rem;
      font-size: 1.2rem;
      color: #2D2A32;
      padding: 1rem 0;
      line-height: 3rem; }
    .other-skills .oSkill .icon {
      max-height: 3rem;
      margin: 0 auto; }

.nav-tabs {
  border-bottom: 0px;
  text-align: center;
  margin-bottom: 2rem; }
  .nav-tabs > li {
    float: none;
    margin-bottom: 0px;
    display: inline-block; }
    .nav-tabs > li > a {
      border: 2px solid #1E2431;
      color: #1E2431;
      margin-right: 10px;
      margin-bottom: 10px;
      line-height: 1.42857143;
      font-size: 1.5rem;
      padding: 10px 20px;
      font-weight: 300;
      border-radius: 50px;
      text-align: center; }
      .nav-tabs > li > a:hover {
        color: #030e1e;
        border-color: #030e1e;
        background-color: transparent;
        text-decoration: underline; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
      color: #d80033;
      border-color: #d80033; }

.tab-pane {
  text-align: center; }
  .tab-pane .tab-content strong {
    display: block; }

.project-spotlight .title-heading {
  text-align: left;
  color: #030e1e; }

.social-icons-container li {
  padding: 5px 10px; }
.social-icons-container a {
  padding: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: inline-block; }
  .social-icons-container a:hover {
    border-color: rgba(255, 255, 255, 0.23); }
.social-icons-container.blue-bg a:hover {
  background-color: #d80033; }
.social-icons-container.red-bg a:hover {
  background-color: #1E2431; }

.carousel .carousel-control,
.carousel .carousel-control:hover {
  background: transparent;
  color: #d80033; }
.carousel .carousel-indicators {
  bottom: 0; }
.carousel .carousel-indicators li {
  border-color: #d80033; }
  .carousel .carousel-indicators li.active {
    background-color: #d80033; }

#client_slideshow .item {
  text-align: center; }
  #client_slideshow .item img {
    max-width: 400px; }

.other-project {
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  max-width: 900px;
  margin: 0 auto 20px;
  padding: 10px; }

.my-services blockquote {
  border: 0;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 2rem;
  color: #d80033; }

.connections-container .label,
.connections-container .value {
  line-height: 2.5rem;
  font-size: 1.25rem;
  padding: 0 20px; }
.connections-container .label {
  text-align: right;
  color: #222; }
.connections-container .row {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 10px;
  max-width: 550px;
  padding: 10px 0;
  margin: 0 auto; }
  .connections-container .row:last-child {
    border-bottom: 0; }

/*# sourceMappingURL=main.css.map */
