<h4 class="xsection-title">Location:</h4>
<p><strong>Portland, Oregon</strong></p>
<hr/>

<h4 class="xsection-title">On the web:</h4>
<div class="connections-list">
	<div class="row">
		<div class="label col-xs-12 col-md-4">
			E-mail
		</div>
		<div class="value col-xs-12 col-md-8">
			<a href="#" class="email-link">{emailLink}</a>
		</div>
	</div>

	<div class="row">
		<div class="label col-xs-12 col-md-4">
			Blog
		</div>
		<div class="value col-xs-12 col-md-8">
			<a href="http://blog.jeffwilkerson.com/">blog.jeffwilkerson.net</a>
		</div>
	</div>


	<div class="row">
		<div class="label col-xs-12 col-md-4">
			LinkedIn
		</div>
		<div class="value col-xs-12 col-md-8">
			<a href="{{ site.social['linkedin'].url }}" target="_blank">@jeffrwilkerson</a>
		</div>
	</div>

	<div class="row">
		<div class="label col-xs-12 col-md-4">
			Github
		</div>
		<div class="value col-xs-12 col-md-8">
			<a href="{{ site.social['github'].url }}" target="_blank">@stljeff1</a>
		</div>
	</div>

	<div class="row">
		<div class="label col-xs-12 col-md-4">
			Twitter
		</div>
		<div class="value col-xs-12 col-md-8">
			<a href="{{ site.social['twitter'].url }}" target="_blank">@cPalsyYogi</a>
		</div>
	</div>

	<div class="row">
		<div class="label col-xs-12 col-md-4">
			Instagram
		</div>
		<div class="value col-xs-12 col-md-8">
			<a href="{{ site.social['instagram'].url }}" target="_blank">@runningantelope</a>
		</div>
	</div>

</div>