{% if page.header.title is not null %}
     <h3 class="section-title">{{ page.header.title }}</h3>
 {% endif %}


<div class="form-container">
{{ page.content|raw }}
	{#{% include "forms/form.html.twig" %}#}
	<p id="email-me-now"></p>
	<script>
	(function($) {
		$(function() {
			$('#email-me-now').html('For quick replies, email me at <a href="mailto:pdxwebdev@jeffwilkerson.net">pdxwebdev@jeffwilkerson.net</a>.');
		});
	})(jQuery);
	</script>
</div>