<ul class="social-icons-list list-inline text-center">


	{% for item in site.social %}
		<li>
			{% set icon = item.icon %}
			{% if header.theme is defined and header.theme == 'lightbg' %}
				{% set icon = icon ~ '-blue' %}
			{% endif %}
			<a href="{{ item.url }}" target="_blank" title="Jeff Wilkerson on {{ item.name }}">
				<img src="{{ url('theme://images/'~icon~'.png') }}"/>
			</a>
		</li>
	{% endfor %}
</ul>