<div class="wp-project">
	{% for project in page.header.projects %}
				<div class="row">
					<div class="col-xs-12 col-md-4">
						
						<a href="./img/mixitini-thumb.jpg"><img src="./img/mixitini-thumb.jpg" class="img-fluid"></a>
						}
					</div>
					<div class="col-xs-12 col-sm-8">
						<h3>Mixitinit Matrix</h3>
						<p>Project takeaways include:</p>
						<ul>
							<li>Custom child theme built from <a href="https://wordpress.org/themes/sparkling/" target="_blank">Sparkling</a></li>
							<li>Custom plugin development - I leveraged <a href="https://www.advancedcustomfields.com/" target="_blank">ACF</a>, sprinkled some custom rewrite rules, and created the ability to publish mazazine issues, and assign articles to each issue.</li>
							<li><a href="http://www.mixitini.jeffwilkerson.net/" target="_blank" rel="nofollow">Mixitini Matrix</a></li>


						</ul>

					</div>
				</div>
			</div>